/* *{
    border: 1px red dashed;
    
} */

body{
    box-sizing: border-box;
    
    
    
    
}

#main-header{
    display: flex;
    background-color: teal;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    /* border-bottom: 5px teal solid; */
    background: linear-gradient(14deg, rgb(0, 179, 255),rgb(226, 33, 33));
    
    
}
.box{
    flex: 1;
}

#main-header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Dancing Script';
    font-weight: bold;
  
    
}
#main-header ul>li{
    padding: 10px;
}
#main-header a:hover{
    /* text-decoration: underline rgb(37, 231, 37) 3px; */
    color: grey;
    font-weight: bolder;
    font-size: 1.3em;

    
}
span{
    font-family: 'Dancing Script';
    color:orange;
    display: block;
    font-size: 1.8em;
    font-weight: bold;
}
span:hover{
    border: 2px teal dotted;
    font-size: 2.2em;
}
.box a{
    font-size: 1.2em;
    color: #f4f4f4;
}

.branding{
    color:rgb(241, 113, 67);
    padding: 10px;
    margin-left: 1.5em;
    
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 200%;
    
    
}
.box2 img:hover{
    opacity: 0.8;
}
.branding:hover{
    opacity: 0.7;
}
/* 
.page{
    width: 98%;
    margin: 0 auto;
} */

#About{
    
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    gap: 1em;
    /* background-color: lightcyan; */
   
    
}
em{
    font-weight: bold;
    font-style: italic ;
}
.box2{
    flex: 1;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-direction: column

}
.box2 p{
    text-align: center;
}
div>img{
    /* border-radius: 100% 100%; */
    border-radius: 50% 50%;
    width:60%;
    height: 90%;
}


footer{
    display: flex;
    flex-wrap: wrap;
    padding: 0.3em;
    gap: 1em;
    align-items: center;
    background: linear-gradient(14deg,rgb(226, 33, 33), rgb(0, 179, 255));
  
    
}

footer h3{
    text-align: center;
}
footer h3,ul{
    flex: 1;
    

}
footer img{
    width: 30px;
    height: 30px;
}
footer ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    

}
footer ul li{
    flex: 1;
    display: flex;
    justify-content: center;
    
}

footer ul a:hover{
    opacity: 0.7;
}

