/* *{
    border: 1px red dashed;
    
} */

body{
    box-sizing: border-box;
    
    
    
    
}

#main-header{
    display: flex;
    /* background-color: rgb(137, 208, 208); */
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}
.box{
    flex: 1;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Dancing Script';
    font-weight: bold;
  
    
}
ul>li{
    padding: 10px;
}
a:hover{
    text-decoration: underline green;
    color: grey;
    /* padding: 10px; */
}
span{
    font-family: 'Dancing Script';
    color: red;
    display: block;
    font-size: 1.8em;
    font-weight: bold;
}
span:hover{
    border: 2px teal dotted;
    font-size: 1.9em;
}


.branding{
    color:rgb(236, 121, 13);
    padding: 10px;
    
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 2.5em;
    
    
}
#About{
    /* background-color: teal; */
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    /* justify-content: center; */
    /* align-items: center; */
}
.box2{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    /* border-radius: 100% 100%; */
    border-radius: 50% 50%;
    width: 50%;
    height: 90%;
}